@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); /* font p */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap'); /* font glitch h */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap'); /* font glitch p */


/* body */

:root {
    --color-body: rgb(13, 13, 58);
    --color-body-highlight: midnightblue;
    --color-body-link: yellow;
    --color-dark: rgba(25, 25, 112, 0.75);
    --color-light: #a1f9ff;
    --color-transparent: rgba(25, 25, 112, 0.25);
    --font-glitch-h: "Rubik Lines", "Orbitron", "Courier New", Courier, monospace;
    --font-glitch-p: "Jersey 10 Charted", "Orbitron", "Courier New", Courier, monospace;
    --font-p: "Orbitron", "Courier New", Courier, monospace;
}

body {
  background: var(--color-light);
  font-family: var(--font-p);
  font-weight: 100;
  font-size: 100%;
  color: var(--color-body);
}

.wallbreak {
    font-family: var(--font-glitch-p);
    font-size: 125%;
    color: var(--color-body-highlight);
}


/* header */

header {
    background: url(../images/prp/header_background_image.webp) no-repeat bottom right/cover;
}

header h1 {
    font-size: 200%;
    padding: 25vw 0 2vw 0;
}


/* blurb */

fieldset {
    background: var(--color-transparent);
    border: outset var(--color-dark);
    border-radius: 5%;
    font-family: var(--font-glitch-p);
    font-size: 125%;
    color: var(--color-body-highlight);
    padding: 1%;
    margin: 1%;
}

legend {
    font-family: var(--font-glitch-h);
    font-size: 150%;
    color: var(--color-body-highlight);
    position: relative;
    top: 0.5vw;
    float: unset;
    width: auto;
}


/* chapters */

.chapter {
    font-size: 150%;
    padding: 25vw 0 2vw 0;
    text-align: center;
}

/* chapter 1 */

.one {
    background: var(--color-transparent-dark) url(../images/prp/chapter1_background_image.webp) no-repeat center center/cover;
    color: var(--color-body-link);
}

/* chapter 2 */

.two {
    background: var(--color-transparent-dark) url(../images/prp/chapter2_background_image.webp) no-repeat center 69%/cover;
    color: var(--color-body-link);
}

/* chapter 3 */

.three {
    background: var(--color-transparent-dark) url(../images/prp/chapter3_background_image.webp) no-repeat center 69%/cover;
    color: var(--color-body-link);
}


/* fact */

.fact h1 {
    font-weight: normal;
}

/* end of teaser  */

#end button {
    background: var(--color-transparent-dark) url(../images/prp/buttons.webp) no-repeat center center / cover;
    border: none;
    display: inline-block;
    height: 1.25rem;
    width: 100%;
    color: white;
    font-family: var(--font-glitch-h);
}