@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); /* font p */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap'); /* font glitch h */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap'); /* font glitch p */


/* body */

:root {
    --color-body: rgb(13, 13, 58);
    --color-title: #FF2E74;
    --color-body-highlight: midnightblue;
    --color-body-link: #FF8285;
    --color-dark: rgba(25, 25, 112, 0.75);
    --color-light: #80E3FF;
    --color-transparent: rgba(25, 25, 112, 0.25);
    --font-glitch-h: "Rubik Lines", "Orbitron", "Courier New", Courier, monospace;
    --font-glitch-p: "Jersey 10 Charted", "Orbitron", "Courier New", Courier, monospace;
    --font-p: "Orbitron", "Courier New", Courier, monospace;
}

body {
    background: var(--color-light);
}

.prp-text {
    font-family: var(--font-p);
    font-weight: 100;
    font-size: 100%;
    color: var(--color-body);
}

.prp-heading {
    font-family: var(--font-p);
}

.prp-link-color {
    color: var(--color-body-link);
}

.wallbreak {
    font-family: var(--font-glitch-p);
    font-size: 125%;
    color: var(--color-body-highlight);
}


/* nav */

.prp-nav-text {
    font-size: 100%;
}

.nav-collapse-a {
    font-size: medium;
    color: var(--color-body-link);
}


/* header */

.prp-header {
    background: url(../images/prp/header_background_image.webp) no-repeat 20% 40% / cover;
    max-width: 100vw;
    text-align: center;
    padding-bottom: 1vh;
    padding-top: 15vh;
}

.prp-title {
    font-family: var(--font-p);
    color: var(--color-title);
    font-size: 100%;
    width: 100vw;
}


/* blurb */

.glitch-text {
    background: var(--color-transparent);
    border: outset var(--color-dark);
    border-radius: 5%;
    font-family: var(--font-glitch-p);
    font-size: 125%;
    color: var(--color-body-highlight);
    padding: 1%;
    margin: 1%;
}

.glitch-heading {
    font-family: var(--font-glitch-h);
    font-size: 150%;
    color: var(--color-body-highlight);
    position: relative;
    top: 0.5vw;
    float: unset;
    width: auto;
}


/* chapters */

.chapter {
    font-size: 150%;
    padding: 25vw 0 2vw 0;
    text-align: center;
}

/* chapter 1 */

.one {
    background: var(--color-transparent-dark) url(../images/prp/chapter1_background_image.webp) no-repeat center center / cover;
    color: var(--color-body-link);
}

/* chapter 2 */

.two {
    background: var(--color-transparent-dark) url(../images/prp/chapter2_background_image.webp) no-repeat center 69% / cover;
    color: var(--color-body-link);
}

/* chapter 3 */

.three {
    background: var(--color-transparent-dark) url(../images/prp/chapter3_background_image.webp) no-repeat center 69% / cover;
    color: var(--color-body-link);
}

/* chapter 4 */

.four {
    background: var(--color-transparent-dark) url(../images/prp/chapter4_background_image.webp) no-repeat center 40% / cover;
    color: var(--color-body-link);
}

/* chapter 5 */

.five {
    background: var(--color-transparent-dark) url(../images/prp/chapter5_background_image.webp) repeat center center / contain;
    color: var(--color-body-link);
}


/* fact */

.fact-heading {
    font-weight: normal;
}

/* end of teaser  */

.end-button {
    background: var(--color-transparent-dark) url(../images/prp/buttons.webp) no-repeat center center / cover;
    border: none;
    display: inline-block;
    height: 2rem;
    width: 100%;
    color: white;
    font-family: var(--font-glitch-h);
    text-decoration: none;
    text-align: center;
}

.end-button:hover {
    text-decoration: underline;
    color: var(--color-body-link);
    background: var(--color-transparent-dark) url(../images/prp/buttons.webp) no-repeat center top / cover;
    transition: 1s;
}


/* device media queries */
  
@media screen and (min-width: 1024px) {
    .prp-nav-text, .prp-heading {
      font-size: 200%;
    }

    .nav-chapter {
        padding-top: 15px;
    }

    .prp-header {
        padding-top: 40vh;
    }
}

