@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap'); /* font h */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); /* font p */


/* body */

:root {
  --color-body-link: var(--color-dnd-red);
  --color-dnd-red: #ff0000e5;
  --color-transparent-dark: #00000050;
  --font-h: 'Eagle Lake', serif;
  --font-p: 'Poiret One', sans-serif;
}

img {
  margin: 1vh 0 0 0;
  border-radius: 5%;
}


/* navigation */

nav {
  background: var(--color-transparent-dark);
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  position: fixed;
  top: 0;
}

nav .container {
  display: flex;
  min-width: 100vw;
  gap: 1vw;
  padding: 2.5vw;
  justify-content: space-around;
}

nav a, nav p {
  font-family: var(--font-p);
  letter-spacing: 1px;
  margin: auto;
  line-height: 25px;
  color: var(--color-dnd-red);
  flex-basis: 10vw;
}

.nav-link {
  color: white;
  font-size: x-large;
}

.nav-link.disabled {
  color: white;
}

nav button {
  background: #000000;
  border: none;
  height: 60px;
  padding: 5px 2.5vw;
  color: var(--color-light);
  font-weight: bold;
}

nav button:hover {
  background: var(--color-dnd-red);
  color: #000000;
  font-weight: bold;
  box-shadow: 0 0 50px #000000;
}

nav button:hover p {
  color: #000000;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

small {
  font-size: x-small;
}

nav .show {
  margin-top: 10px;
}


/* header */

header {
  background: url(../images/header_background_image.webp) no-repeat 30% 100% / cover;
  text-align: center;
  padding-top: 25vh;
  padding-bottom: 1vh;
}

header h1 {
  font-family: var(--font-h);
  margin: 0px;
}


/* icons */

svg {
  vertical-align: text-top;
}


/* info */

.info {
  background: var(--color-transparent-dark);
  padding: 1%;
  margin: 1%;
  border-radius: 5%;
}

.info a {
  color: var(--color-body-link);
}

.info h1 {
  margin-left: 5%;
}

.info h2, ul {
  margin-left: 10%;
}


/* end of teaser */

.margin-b-5 {
  margin-bottom: 5px;
}


/* larger devices */

@media screen and (min-width: 768px) {
  
  /* header */

  header {
    padding-top: 1vh;
    padding-bottom: 50vh;
  }
}

