/* body */

:root {
  --color-dnd-red: #ff0000e5;
  --color-transparent-dark: #00000050;
}

img {
  margin: 1vh 0 0 0;
  border-radius: 5%;
}


/* navigation */

nav {
  background: var(--color-transparent-dark);
  text-align: center;
  vertical-align: middle;
  padding: 1vw;
}

nav .container {
  display: flex;
  gap: 1vw;
  margin: 1vw;
  justify-content: space-between;
}

nav button {
  background: #000000;
  border: none;
  height: 5vw;
  font-family: "Orbitron", "Courier New", Courier, monospace;
  font-weight: 100;
  flex-basis: 50vw;
  padding: 1vw 2.5vw;
  color: var(--color-light);
}

nav button:hover {
  background: var(--color-dnd-red);
  color: #000000;
  font-weight: bold;
  box-shadow: 0 0 50px #000000;
}


/* header */

header {
  background: url(../images/header_background_image.webp) no-repeat bottom right/cover;
  text-align: center;
}

header h1 {
  font-family: "Orbitron", "Courier New", Courier, monospace;
}


/* icons */

svg {
  vertical-align: text-top;
}


/* info */

.info {
  background: var(--color-transparent-dark);
  padding: 1%;
  margin: 1%;
  border-radius: 5%;
}

.info a {
  color: var(--color-body-link);
}

.info h1 {
  margin-left: 5%;
}

.info h2,ul {
  margin-left: 10%;
}


/* end of teaser */

.margin-b-5 {
  margin-bottom: 5px;
}


/* phones */

@media screen and (max-width: 768px) {}

