@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap'); /* font h */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); /* font p */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); /* prp */
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap'); /* mom h */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); /* mom p */


/* body */

:root {
  --color-body-background: #FEE8C3;
  --color-body-link: var(--color-dnd-red-dark);
  --color-dnd-red-dark: #CC0000E5;
  --color-dnd-red-light: #FF5C5CE5;
  --color-transparent-dark: #00000050;
  --color-quote-header: #454731;
  --color-quote-body: #6F6B49;
  --font-h: 'Eagle Lake', serif;
  --font-p: 'Poiret One', sans-serif;
}

body {
  min-height: 100vh;
  background: var(--color-body-background);
  font-family: var(--font-p);
  max-width: 100vw;
}

small {
  font-size: x-small;
}

.container {
  max-width: 90%;
}

.hidden {
  color: transparent;
  font-size: xx-small;
  margin: 0px;
}

.heading {
  margin: 0px;
  color: var(--color-quote-header);
}

.heading-font {
  font-family: var(--font-h);
}

.text {
  font-family: var(--font-p);
  margin: 0px;
}

.text-link {
  color: var(--color-quote-body);
}

.text-link:hover {
  color: var(--color-dnd-red-dark);
  transition: 1s;
}

.font-size-medium {
  font-size: medium;
}

code {
  color: var(--color-dnd-red-dark);
}


/* navigation */

.nav {
  background: var(--color-transparent-dark);
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-container {
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  gap: 1vw;
  padding: 2.5vw;
  justify-content: space-around;
}

.nav-text {
  font-size: x-large;
  letter-spacing: 1px;
  line-height: 25px;
  color: var(--color-dnd-red-light);
  text-decoration: none;
  flex-basis: 10vw;
}

.nav-button {
  background: #000000;
  border: none;
  height: 60px;
  padding: 5px 2.5vw;
  font-weight: bold;
}

.nav-button:hover {
  background: var(--color-dnd-red-light);
  color: #000000;
  transition: 1s;
  font-weight: bold;
  box-shadow: 0 0 50px #000000;
}

.nav-button:hover .nav-text {
  color: #000000;
  transition: 1s;
  font-weight: bold;
}

.nav-home {
  padding-top: 15px;
}

nav .show {
  margin-top: 10px;
}

.nav-link {
  color: var(--color-dnd-red-dark);
  font-size: x-large;
}

.nav-link:focus, .nav-link:hover {
  color: var(--color-body-background);
  text-decoration: underline;
  transition: 1s;
}

.nav-link.disabled {
  color: white;
  font-size: x-large;
}


/* header */

.header {
  background: url(../images/header_background_image.webp) no-repeat 30% 100% / cover;
  text-align: center;
  padding-top: 25vh;
  padding-bottom: 1vh;
}

.title {
  color: var(--color-body-background);
}


/* about */

.about-card {
  color: var(--color-body-background);
}

.about-card-header {
  background-color: var(--color-quote-header);
}

.about-card-body {
  background-color: var(--color-quote-body);
}

.about-blockquote-footer {
  letter-spacing: 1px;
  color: var(--color-body-background);
  margin-bottom: 0px;
  line-height: 2.5rem;
  height: 3rem;
  width: 100%;
  text-align: center;
  background-color: var(--color-quote-header);
  font-size: medium;
  font-weight: bold;
}


/* story tiles */

.card-img-overlay {
  position: initial;
}

.card-prp {
  background: url(../images/tile_prp_background_image.webp) no-repeat 30% 30% / cover;
}

.card-bob {
  background: url(../images/tile_bob_background_image.webp) no-repeat 35% 100% / cover;
}

.card-mom {
  background: url(../images/tile_mom_background_image.webp) no-repeat center center / cover;
}

.prp-h5 {
  font-family: "Orbitron", "Courier New", Courier, monospace;
  color: #FF2E74;
}

.prp-p {
  font-family: "Orbitron", "Courier New", Courier, monospace;
  font-weight: lighter;
}

.prp-a {
  color: #FF8285;
}

.prp-a:hover {
  color: #FF2E74;
  transition: 1s;
}

.bob-h5 {
  font-family: var(--font-h);
  color: var(--color-body-background);
}

.bob-coming-soon {
  color: var(--color-dnd-red-light);
  text-decoration: underline black dashed 1px;
}

.mom-h5 {
  font-family: "Jolly Lodger", system-ui;
  color: #D738FF;
  font-size: 2.5rem;
}

.mom-p {
  font-family: "Jost", sans-serif;
  font-weight: 300;
}

.mom-coming-soon {
  font-family: "Jolly Lodger", sans-serif;
  color: #ffd700;
  text-decoration: underline slategrey dashed 1px;
}


/* info */

.info {
  background: var(--color-transparent-dark);
  padding: 1%;
  margin: 1%;
  border-radius: 5%;
}

.info-svg {
  width: 29px;
  height: 29px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vertical-align: text-top;
}

.info-a {
  color: var(--color-body-link);
}

.info-heading {
  margin-left: 5%;
}

.info-margin {
  margin-left: 10%;
}


/* form */

.star-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-container .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}

.stars i {
  color: var(--color-transparent-dark);
  font-size: 25px;
  cursor: pointer;
  transition: color 1s ease;
}

.stars i.active {
  color: var(--color-dnd-red-dark);
}

.form-question-labels label {
  vertical-align: top;
  max-width: 90%;
}

#feedback {
  min-height: 100px;
}


/* success page */

.success-button {
  display: inline-block;
  background: url(../images/header_background_image.webp) no-repeat 49% 89% / auto;
  height: 4rem;
  padding: 1rem 4rem;
  border: 1px solid var(--color-quote-body);
  box-shadow: 15px 15px 15px var(--color-transparent-dark);
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.success-button:hover {
  transition: 1s;
  border: 1px solid var(--color-quote-header);
  box-shadow: 20px 20px 10px var(--color-transparent-dark);
  background: url(../images/header_background_image.webp) no-repeat 83% 100% / auto;
  color: white;
  text-decoration: 1px underline;
}


/* footer */

.footer {
  background-color: var(--color-transparent-dark);
  display: flex;
  justify-content: space-evenly;
}

.socials {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
}

.footer-button {
  background-color: #00000000;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 15px 5px;
  font-size: 1rem;
  min-width: 25px;
}

.footer-button:hover {
  box-shadow: none;
}

.footer-svg-path {
  fill: var(--color-dnd-red-dark);
}

.footer-button:hover .footer-svg-path {
  fill: #000000;
  transition: 1s;
}

.footer-fixed {
  position: static;
}


/* device media queries */

@media screen and (min-width: 768px) {
  .header {
    text-align: end;
    padding-right: 10vw;
  }

  .info-svg {
    width: 32px;
    height: 32px;
  }

  .form-input-width {
    min-width: 350px;
  }

  .success-button {
    height: 5rem;
    padding: 1rem 5rem;
    font-size: 2rem;
  }

  .footer-fixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: larger;
  }

  .header {
    padding-top: 30vh;
    padding-bottom: 20vh;
    text-align: end;
    padding-right: 15vw;
  }

  .title {
    color: var(--color-quote-header);
  }

  .card-prp, .prp-h5,
  .card-bob, .bob-h5,
  .card-mom {
    font-size: larger;
  }

  .info-svg {
    width: 48px;
    height: 48px;
  }

  .stars i {
    font-size: 50px;
  }
}

@media screen and (min-width: 1440px) {
  #feedback {
    min-height: 20vh;
  }
}